:root {
	--softblue: #49769e;
	--darkerblue: #294054;
	--darkGray: #333333;
	--lightGray: #f2f2f2;

	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-md: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;
	--text-2xl: 1.5rem;
	--text-3xl: 1.875rem;
	--text-4xl: 2.25rem;
}

@font-face {
	font-family: "roboto";
	src: url("../assets/fonts/Roboto/static/Roboto-Light.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "roboto";
	src: url("../assets/fonts/Roboto/static/Roboto-Regular.ttf")
		format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "roboto";
	src: url("../assets/fonts/Roboto/static/Roboto-SemiBold.ttf")
		format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: "roboto";
	src: url("../assets/fonts/Roboto/static/Roboto-Bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: "poppins";
	src: url("../assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: "poppins";
	src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "poppins";
	src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: "poppins";
	src: url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: "poppins";
	src: url("../assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
	font-weight: 900;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
