header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.header-text {
	padding: 40px;
	width: 100%;
	background: linear-gradient(to right, var(--softblue) 10%, var(--darkerblue));
}

.header-text > h1 {
	color: #ffffff;
	font-size: 2.5rem;
	font-family: "poppins", sans-serif;
	font-weight: 700;
	text-align: center;
}

.header-text > h2 {
	color: #ffffff;
	font-size: 1.25rem;
	padding-top: 12px;
	text-align: center;
	font-family: "poppins", sans-serif;
	font-weight: 500;
}

.mobile-menu-toggle {
	width: 100%;
	background-color: var(--darkGray);
}
.mobile-menu-toggle > label > img {
	padding: 20px;
}

.mobile-menu-toggle > label > input {
	display: none;
}

.mobile-menu-toggle:not(:has(input:checked)) + nav {
	display: none;
}
.mobile-menu-toggle:has(input:checked) + nav {
	display: block;
}

nav {
	width: 100%;
	background-color: var(--darkGray);
	padding-top: 15px;
}

nav > ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}
nav > ul > li {
	width: 100%;
	text-align: center;
	border-bottom: 2px solid #3b3b3b;
	padding-bottom: 30px;
}
nav > ul > li:last-child {
	border-bottom: none;
}
nav > ul > li > a {
	color: #fff;
	text-decoration: none;
	font-family: "roboto", sans-serif;
	font-size: 1rem;
}

body {
	background-color: var(--lightGray);
}

section {
	padding: 10px;
}

section > h2 {
	font-family: "poppins", sans-serif;
	font-weight: 500;
	color: var(--softblue);
}
.card-content > h3 {
	font-family: "roboto", sans-serif;
	font-weight: 500;
}
#profile > img {
	max-width: 80px;
	max-height: 80px;
	border-radius: 100%;
}